@import "@/styles/mixins";

.missionAndVision{
    padding: 70px;
    @include custom-breakpoint(1680px){padding: 70px 50px;}
    @include breakpoint(tablet-portrait){padding: 70px 20px;}
    .gridblock{
        padding: 60px 0;
        h2{
            font-size: 36px;
            font-weight: 600;
            line-height: 43.88px;
            text-align: left;
            @include custom-breakpoint(1680px) {
                font-size: 30px;
                line-height: 38px;
            }
            @include custom-breakpoint(1440px) {
                font-size: 24px;
                line-height: 32px;
            }
        }
        p{
            font-size: 24px;
            font-weight: 500;
            line-height: 32.14px;
            text-align: left;
            margin-top: 16px;
            width: 100%; max-width: 660px;
            @include custom-breakpoint(1680px) {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

}