@import "@/styles/mixins";

.applicationProcessTabs{
    padding: 70px 0; position: relative;
    .sectionHeader{
        padding: 0 70px;
        @include custom-breakpoint(1680px){padding: 0 50px;}
        @include breakpoint(tablet-portrait){padding: 0 20px;}
    }
    .rectangle{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}


.tabsContainer{
    padding-top: 65px; position: relative;
    @include breakpoint(tablet-portrait){
        padding: 60px 20px;
    }
    .dotsPattern{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        @include breakpoint(tablet-portrait){display: none;}
    }
    .tabList{
        li{
            font-size: 36px; line-height: normal; font-weight: 500;
            margin-bottom: 40px; width: max-content;
            display: flex; align-items: center; padding: 12px 50px 12px 70px;
            @include custom-breakpoint(1680px){font-size: 30px;padding: 12px 20px 12px 50px;margin-bottom: 30px;}
            @include custom-breakpoint(1536px){font-size: 24px;margin-bottom: 20px;}
            @include breakpoint(mac){font-size: 20px;}
        }
    }
    .tabcontent{
        width: 100%; max-width: 866px; margin: 0 auto;padding-right: 10px;
        @include custom-breakpoint(1680px){max-width: 768px;margin-left: 0;}
        h3{
            font-size: 48px; line-height: 58px; font-weight: 600;
            @include breakpoint(desktop-big){font-size: 40px;line-height: 52px;}
            @include custom-breakpoint(1680px){font-size: 32px;line-height: 46px;}
            @include custom-breakpoint(1536px){font-size: 28px;line-height: 40px;}
        }
        p{
            font-size: 24px; line-height: 38px; font-weight: 500; margin: 28px 0;
            @include breakpoint(desktop-big){font-size: 22px; line-height: 34px;}
            @include custom-breakpoint(1680px){font-size: 20px; line-height: 32px;margin: 20px 0;}
            @include custom-breakpoint(1536px){font-size: 18px; line-height: 30px;}
        }
        .sectionBtn{
            min-width: 260px;
            display: flex; align-items: center; justify-content: center;
            padding: 16px;
            border-radius: 5px;
            font-size: 24px;
            line-height: normal;
            @include custom-breakpoint(1680px){font-size: 22px; min-width: 220px;padding: 12px 16px;}
            @include custom-breakpoint(1536px){font-size: 20px;min-width: 200px;}
            @include breakpoint(mac){font-size: 18px;}
        }
    }
}

.tabSelectMobile{
    font-size: 16px;
}