.customSelect{

}

.trigger{
    border-radius: 0 !important;
    border: none;
    border-bottom: 1px solid #00000066;
    height: 54px; padding-left: 0;
    font-size: 18px; font-weight: 500; color: #000000; line-height: normal;
    &:focus{
        outline: none; box-shadow: none;
    }
}

.options{
    background-color: #ffffff;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
    color: #000000;
}