@import "@/styles/mixins";

.successStory{
    position: relative;overflow: hidden;padding: 70px;
    @include custom-breakpoint(1680px){padding: 40px 50px;}
    @include breakpoint(tablet-portrait){padding: 30px 20px;}
}

.girdBlock{
    padding: 65px 0; column-gap: 62px;
    @include custom-breakpoint(1680px){column-gap: 52px;}
    @include custom-breakpoint(1536px){column-gap: 42px;}
}

.rightGrid{
    display: flex; align-items: flex-end;
    .blockContent{
        width: 100%;
        .titleBlock{ margin-bottom: 30px;
            h4{
                font-size: 32px; line-height: 43px; font-weight: 600; margin-bottom: 10px;
                @include custom-breakpoint(1680px){font-size: 28px;line-height: 38px;}
                @include breakpoint(mac){font-size: 24px;line-height: 34px;}
            }
            p{
                font-size: 24px; line-height: 32px; font-weight: 400;
                @include custom-breakpoint(1680px){font-size: 22px;}
                @include custom-breakpoint(1536px){font-size: 20px;}
                @include breakpoint(mac){font-size: 18px;}
            }
            .percentGrid{
                display: flex; justify-content: space-around; gap: 20px; flex-wrap: wrap; margin-top: 24px;
                div{
                    width: 100%; max-width: 254px; text-align: center;
                    span{
                        font-size: 21px; line-height: 28px; color: rgba(0, 0, 0, 0.7);
                        @include custom-breakpoint(1536px){font-size: 18px;}
                    }
                }
            }
        }
        .readMore{
            font-size: 24px; line-height: 30px; display: inline-block;
            @include custom-breakpoint(1680px){font-size: 22px;line-height: 28px;}
            @include custom-breakpoint(1536px){font-size: 20px;line-height: 26px;}
            @include breakpoint(mac){font-size: 18px;line-height: 24px;}
            .underLine{
                width: 52px; height: 3px; border-radius: 9px; margin: 8px 0 0; transition: 0.2s ease-in-out;
            }
            &:hover{
                .underLine{width: 100%;}
            }
        }
    }
}
