@import "../styles/mixins";

.header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.302);height: 66px;
    @include custom-breakpoint(1680px){height: 56px;}
    .headerContainer{
        height: 100%;
        padding: 0 70px;
        @include breakpoint(desktop-big){padding: 0 60px;}
        @include custom-breakpoint(1680px){padding: 0 50px;}
        @include breakpoint(tablet-portrait){padding: 0 20px;}
        .headerSection{
            height: 100%;
            display: flex;
            align-items: center;
            @include breakpoint(desktop-small){column-gap: 12px;}
            .logo{
                img{max-width: 100%; height: auto;
                    @include breakpoint(desktop-big){height: 50px;}
                }
            }
        }
    }
}


.desktopNav{
    height: 100%;
    margin-left: 140px;
    @include custom-breakpoint(1900px){margin-left: 120px;}
    @include custom-breakpoint(1680px){margin-left: 100px;}
    @include breakpoint(desktop-small){margin: auto;}
    ul{
        height: inherit; column-gap: 72px;
        @include custom-breakpoint(1680px){column-gap: 50px;}
        @include breakpoint(desktop-small){column-gap: 40px;}
        @include breakpoint(tablet-portrait){column-gap: 30px;}
        li{
            .navItem{
                font-size: 16px;
                font-weight: 500;
                @include custom-breakpoint(1680px){font-size: 14px;}
                @include custom-breakpoint(1536px){font-size: 13px;}
            }
            .activeNavItem{
                color: var(--color-primary);
                font-weight: 700;
            }
        }
    }
}

.desktopNavRight{
    margin-left: auto;column-gap: 4px;
    @include custom-breakpoint(1199.98px){margin: unset;}
    .search{
        display: inline-block;
        background-color: transparent;
        border: none; outline: none;
        padding: 6px;
    }
    .contactLink{
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        @include custom-breakpoint(1680px){font-size: 14px;}
        @include custom-breakpoint(1536px){font-size: 13px;}
    }
}


// SubMenu Styles
.desktopSubMenu{
    height: auto;
    .pageTitleBox{
        width: 395px;
        padding: 64px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(desktop-big){padding: 40px;width: 360px;}
        @include custom-breakpoint(1680px){padding: 30px;width: 320px;}
        h2{
            font-size: 56px;line-height: normal;
            font-weight: 600; text-align: center;
            @include breakpoint(desktop-big){font-size: 46px;line-height: 56px;}
            @include custom-breakpoint(1680px){font-size: 36px;line-height: 46px;}
        }
    }
    .submenuBlock{
        width: 100%;
        padding: 40px 100px; column-gap: 56px;
        @include custom-breakpoint(1900px){padding: 40px;column-gap: 46px;}
        @include custom-breakpoint(1680px){padding: 30px 20px;column-gap: 36px;}
        @include breakpoint(mac){column-gap: 26px;}
        .submenuList{
            h3{
                font-size: 24px; line-height: normal; margin-bottom: 26px; font-weight: 700;
                @include breakpoint(desktop-big){font-size: 22px;margin-bottom: 20px;}
                @include custom-breakpoint(1680px){font-size: 20px;margin-bottom: 16px;}
                @include breakpoint(mac){font-size: 18px;}
            }
            .ul{
                li{
                    padding: 12px 0;font-size: 18px; line-height: 30px; 
                    &:not(:last-child){ border-bottom: 0.6px solid rgba(219, 45, 56, 30%);}
                    @include breakpoint(desktop-big){font-size: 16px;}
                    @include custom-breakpoint(1680px){font-size: 15px;}
                    @include breakpoint(mac){padding: 10px 0;}
                }
            }
        }
    }
}

