@import "@/styles/mixins";

.crewCard{
    position: relative;
    width: 100%; max-width: 548px;
    border: 1px solid #00000033;
    box-shadow: 4px 4px 28.7px 0px #0000001A;
    border-radius: 38px;
    margin-top: 13rem;
    background-color: #ffffff;
    @include breakpoint(desktop-big){border-radius: 30px;}
    @include custom-breakpoint(1680px){border-radius: 24px;}
    .topHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{max-width: 100%; height: auto;}
        .person{
            position: absolute;
            bottom: 60px;
            z-index: 1;
            @include custom-breakpoint(1680px){width: 280px;}
        }
        .carImg{
            position: absolute;
            z-index: 1;
            bottom: 28px;
            @include custom-breakpoint(1680px){width: 290px;}
        }
    }
    .content{
        padding: 10px 46px 45px; overflow: hidden;
        @include breakpoint(desktop-big){padding: 10px 20px 30px;}
        h3{
            font-size: 40px;
            line-height: 49px;
            font-weight: 700;
            margin-bottom: 8px;
            word-break: break-all;
            @include breakpoint(desktop-big){font-size: 36px;}
            @include custom-breakpoint(1680px){font-size: 30px;}
            @include custom-breakpoint(1536px){font-size: 28px;}
            @include breakpoint(mac){font-size: 24px;}
        }
        p{
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            @include breakpoint(desktop-big){font-size: 22px;}
            @include custom-breakpoint(1680px){font-size: 20px;}
            @include custom-breakpoint(1536px){font-size: 18px;}
            @include breakpoint(mac){font-size: 16px;}
        }
    }
}


// Modal Dialog
.modalContent{
    padding: 0 0 90px;
    @include breakpoint(mac){padding-bottom: 50px;}
    @include custom-breakpoint(991px){flex-wrap: wrap-reverse; row-gap: 30px;padding-bottom: 30px;}
    .closeModal{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    h2{
        font-size: 64px; line-height: 78px; font-weight: 600;margin-bottom: 20px; word-break: break-all;
        @include custom-breakpoint(1680px){font-size: 50px;line-height: 60px;margin-bottom: 12px;}
        @include custom-breakpoint(1536px){font-size: 40px;line-height: 50px;}
        @include breakpoint(tablet){font-size: 32px;line-height: 42px;}
    }
    span{
        display: block;
        font-size: 48px; line-height: 54px; font-weight: 400;margin-bottom: 46px;
        @include custom-breakpoint(1680px){font-size: 30px;line-height: 40px;margin-bottom: 32px;}
        @include custom-breakpoint(1536px){font-size: 24px;line-height: 34px;margin-bottom: 24px;}
    }
    p{
        font-size: 24px; line-height: 32px; color: #000000; margin-bottom: 30px;
        &:last-child{margin-bottom: 0;}
        @include custom-breakpoint(1680px){font-size: 18px;line-height: 28px;}
        @include custom-breakpoint(1536px){font-size: 16px;line-height: 26px;}

    }
    .profile{
        position: relative;
        border-radius: 10px;
        margin-left: auto;
        min-width: 546px;
        height: 430px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        @include breakpoint(desktop-big){min-width: 400px; height: auto;}
        @include custom-breakpoint(991px){min-width: auto;}
        img{max-width: 100%; height: auto;}
        .carImg{
            position: absolute;
            bottom: 0;
        }
    }
}