@import "@/styles/mixins";

.storyGridSection {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
  @include custom-breakpoint(1680px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include breakpoint(tablet-portrait) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .dots {
    position: absolute;
    z-index: 1;
    max-width: 100%;
    height: auto;
    @include breakpoint(desktop-big) {
      width: 148px;
    }
  }
  .storyGrid {
    position: relative;
    column-gap: 62px;
    z-index: 2;
    @include custom-breakpoint(1680px) {
      column-gap: 52px;
    }
    @include custom-breakpoint(1536px) {
      column-gap: 42px;
    }
  }
}
